h1 {
    font-size: 36px;
    color: white;
    margin: 0px;
}

h3 {
    color: white;
    font-size:24px;
    margin: 0px;
}

.container {
    margin: 0;
    min-height: 100vh;

    /* display:flex; */
    /* flex-direction: column; */
    /* justify-content: space-between; */
    /* align-items: stretch; */
    padding: 75px 0 0 0; /* match w header height */
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;

}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: blueviolet;
    height: 75px; /* match w container top padding and navUp top */
    padding-left: 15px;
    padding-right: 15px;
    box-sizing: border-box;
    transition: top 0.2s ease-in-out;
    margin: 0px;
    /*font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;*/
    top: 0px;
    position: fixed;
    width: 100%;
}

.navUp {
    top:-75px; /* match with header height */
}

.headerButtons {
    display: flex;
    list-style-type: none;
    padding: 0px;
    margin: 0px;
    gap: 15px;
    color: white;
}

.noDecoration {
    text-decoration: none;
    color: white;
    font-size: 24px;
    margin: 0;
    padding: 0;
}

.titleDeck {
    background-color: darkgray;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    padding: 45px;
    gap: 25px;
}

.titleCard {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 5px 0px;
    gap: 15px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-shadow: 1px 1px 2px red, 0 0 1em black, 0 0 0.2em blue;
}

.titleDiv {
    background-color: rgb(36, 114, 36);
    display: flex;
    justify-content: space-around;
    padding: 25px 50px 0px 125px;
}

.scoreBoard {
    background-color: rgb(36, 114, 36);
    height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 25px;   
    gap: 5px;
}

.cardRow {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
}

.cardRow h3:first-child {
    margin-left: auto;
    width: 100px; /* Shifts team names left */
}

.scoreBox {
    height: 30px;
    width: 15px;
    border-style: solid;
    border-radius: 2px;
    border-color: rgb(11, 66, 32); 
    margin: 0px;
}

.inningRow h3 {
    border-color: rgb(36, 114, 36);
}

#warningTrack {
    height: 50px;
    display: flex;
    background-color: rgb(216, 81, 18);
    margin: 0px;

    font-size: 24;
    font-weight: 100;
    justify-content: center;
    align-items: center;
}

.playBoard {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 50px 50px;
    gap: 25px;
    background-image: url("./images/baseball-field-1548348_1920.jpg");
}

.buttonCol {
    display: flex;
    flex-direction: column;
    gap: 10px;
    /* min-width: 100px; */
    
    min-width: 50;
    width: 100%;  
    max-width: 100px;
    flex-shrink: 0.7;
}

.btnMove {
    height: 60px;
}

.imgMove {
    border-style: solid;
    border-radius: 2px;
    border-color: rgb(65, 133, 65);
    
    min-width: 0;
    width: 100%;  
    max-width: 275px;
    flex-shrink: 0.7;
}

.imgAvatar {
    border-style: solid;
    border-radius: 2px;

    min-width: 0;
    width: 100%;
    max-width: 200px;
    flex-shrink: 0.8;
}

#imgPlayer {
    border-color: rgb(65,133,65);    
}

#imgAI {
    border-color: rgb(0, 238, 255);
}

.imgTitle {
    width: 200px;
}

.emoji {
    font-size: 35px;
    margin: 0px;
}
